<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodaAuthorString</key>
	<string>Evan Lucas</string>
	<key>CodaDescriptionString</key>
	<string>Node.js v0.10.28 autocompletion addition.</string>
	<key>CodaIconMaskTintString</key>
	<string>#0669ad</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.coda.completions.node.js.0.10.28-additions</string>
	<key>CFBundleName</key>
	<string>Node.js v0.10.28 Additions</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014 Evan Lucas</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0, Copyright Evan Lucas 2014</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>ModeIdentifiers</key>
	<array>
		<string>SEEMode.JavaScript</string>
	</array>
</dict>
</plist>
