<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Completions</key>
  <array>
    <dict>
      <key>ID</key>
      <string>rename</string>
      <key>String</key>
      <string>rename</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>oldPath</string>
        <string>newPath</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>renameSync</string>
      <key>String</key>
      <string>renameSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>oldPath</string>
        <string>newPath</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>ftruncate</string>
      <key>String</key>
      <string>ftruncate</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>len</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>ftruncateSync</string>
      <key>String</key>
      <string>ftruncateSync</string>
      <key>SelectionRange</key>
      <string>{14,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>len</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>truncate</string>
      <key>String</key>
      <string>truncate</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>len</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>truncateSync</string>
      <key>String</key>
      <string>truncateSync</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>len</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>chown</string>
      <key>String</key>
      <string>chown</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>uid</string>
        <string>gid</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>chownSync</string>
      <key>String</key>
      <string>chownSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>uid</string>
        <string>gid</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fchown</string>
      <key>String</key>
      <string>fchown</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>uid</string>
        <string>gid</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fchownSync</string>
      <key>String</key>
      <string>fchownSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>uid</string>
        <string>gid</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lchown</string>
      <key>String</key>
      <string>lchown</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>uid</string>
        <string>gid</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lchownSync</string>
      <key>String</key>
      <string>lchownSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>uid</string>
        <string>gid</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>chmod</string>
      <key>String</key>
      <string>chmod</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>mode</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>chmodSync</string>
      <key>String</key>
      <string>chmodSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>mode</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fchmod</string>
      <key>String</key>
      <string>fchmod</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>mode</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fchmodSync</string>
      <key>String</key>
      <string>fchmodSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>mode</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lchmod</string>
      <key>String</key>
      <string>lchmod</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>mode</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lchmodSync</string>
      <key>String</key>
      <string>lchmodSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>mode</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>stat</string>
      <key>String</key>
      <string>stat</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lstat</string>
      <key>String</key>
      <string>lstat</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fstat</string>
      <key>String</key>
      <string>fstat</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>statSync</string>
      <key>String</key>
      <string>statSync</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>lstatSync</string>
      <key>String</key>
      <string>lstatSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fstatSync</string>
      <key>String</key>
      <string>fstatSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>link</string>
      <key>String</key>
      <string>link</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>srcpath</string>
        <string>dstpath</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>linkSync</string>
      <key>String</key>
      <string>linkSync</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>srcpath</string>
        <string>dstpath</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>symlink</string>
      <key>String</key>
      <string>symlink</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>srcpath</string>
        <string>dstpath</string>
        <string>[type]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>symlinkSync</string>
      <key>String</key>
      <string>symlinkSync</string>
      <key>SelectionRange</key>
      <string>{12,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>srcpath</string>
        <string>dstpath</string>
        <string>[type]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readlink</string>
      <key>String</key>
      <string>readlink</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readlinkSync</string>
      <key>String</key>
      <string>readlinkSync</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>realpath</string>
      <key>String</key>
      <string>realpath</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[cache]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>realpathSync</string>
      <key>String</key>
      <string>realpathSync</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[cache]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>unlink</string>
      <key>String</key>
      <string>unlink</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>unlinkSync</string>
      <key>String</key>
      <string>unlinkSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>rmdir</string>
      <key>String</key>
      <string>rmdir</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>rmdirSync</string>
      <key>String</key>
      <string>rmdirSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>mkdir</string>
      <key>String</key>
      <string>mkdir</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[mode]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>mkdirSync</string>
      <key>String</key>
      <string>mkdirSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[mode]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readdir</string>
      <key>String</key>
      <string>readdir</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readdirSync</string>
      <key>String</key>
      <string>readdirSync</string>
      <key>SelectionRange</key>
      <string>{12,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>close</string>
      <key>String</key>
      <string>close</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>closeSync</string>
      <key>String</key>
      <string>closeSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>open</string>
      <key>String</key>
      <string>open</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>flags</string>
        <string>[mode]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>openSync</string>
      <key>String</key>
      <string>openSync</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>flags</string>
        <string>[mode]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>utimes</string>
      <key>String</key>
      <string>utimes</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>atime</string>
        <string>mtime</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>utimesSync</string>
      <key>String</key>
      <string>utimesSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>atime</string>
        <string>mtime</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>futimes</string>
      <key>String</key>
      <string>futimes</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>atime</string>
        <string>mtime</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>futimesSync</string>
      <key>String</key>
      <string>futimesSync</string>
      <key>SelectionRange</key>
      <string>{12,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>atime</string>
        <string>mtime</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fsync</string>
      <key>String</key>
      <string>fsync</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>fsyncSync</string>
      <key>String</key>
      <string>fsyncSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>write</string>
      <key>String</key>
      <string>write</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>buffer</string>
        <string>offset</string>
        <string>length</string>
        <string>position</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>writeSync</string>
      <key>String</key>
      <string>writeSync</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>buffer</string>
        <string>offset</string>
        <string>length</string>
        <string>position</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>read</string>
      <key>String</key>
      <string>read</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>buffer</string>
        <string>offset</string>
        <string>length</string>
        <string>position</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readSync</string>
      <key>String</key>
      <string>readSync</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>fd</string>
        <string>buffer</string>
        <string>offset</string>
        <string>length</string>
        <string>position</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readFile</string>
      <key>String</key>
      <string>readFile</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>[options]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>readFileSync</string>
      <key>String</key>
      <string>readFileSync</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>writeFile</string>
      <key>String</key>
      <string>writeFile</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>data</string>
        <string>[options]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>writeFileSync</string>
      <key>String</key>
      <string>writeFileSync</string>
      <key>SelectionRange</key>
      <string>{14,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>data</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>appendFile</string>
      <key>String</key>
      <string>appendFile</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>data</string>
        <string>[options]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>appendFileSync</string>
      <key>String</key>
      <string>appendFileSync</string>
      <key>SelectionRange</key>
      <string>{15,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>data</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>watchFile</string>
      <key>String</key>
      <string>watchFile</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>[options]</string>
        <string>listener</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>unwatchFile</string>
      <key>String</key>
      <string>unwatchFile</string>
      <key>SelectionRange</key>
      <string>{12,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>[listener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>watch</string>
      <key>String</key>
      <string>watch</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>filename</string>
        <string>[options]</string>
        <string>[listener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>exists</string>
      <key>String</key>
      <string>exists</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>existsSync</string>
      <key>String</key>
      <string>existsSync</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createReadStream</string>
      <key>String</key>
      <string>createReadStream</string>
      <key>SelectionRange</key>
      <string>{17,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createWriteStream</string>
      <key>String</key>
      <string>createWriteStream</string>
      <key>SelectionRange</key>
      <string>{18,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>normalize</string>
      <key>String</key>
      <string>normalize</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>p</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>join</string>
      <key>String</key>
      <string>join</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[path1]</string>
        <string>[path2]</string>
        <string>[...]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolve</string>
      <key>String</key>
      <string>resolve</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[from ...]</string>
        <string>to</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>relative</string>
      <key>String</key>
      <string>relative</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>from</string>
        <string>to</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>dirname</string>
      <key>String</key>
      <string>dirname</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>p</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>basename</string>
      <key>String</key>
      <string>basename</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>p</string>
        <string>[ext]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>extname</string>
      <key>String</key>
      <string>extname</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>p</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>format</string>
      <key>String</key>
      <string>format</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>format</string>
        <string>[...]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>debug</string>
      <key>String</key>
      <string>debug</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>string</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>error</string>
      <key>String</key>
      <string>error</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[...]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>puts</string>
      <key>String</key>
      <string>puts</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[...]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>print</string>
      <key>String</key>
      <string>print</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[...]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>log</string>
      <key>String</key>
      <string>log</string>
      <key>SelectionRange</key>
      <string>{4,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>string</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>inspect</string>
      <key>String</key>
      <string>inspect</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>object</string>
        <string>[options]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isArray</string>
      <key>String</key>
      <string>isArray</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>object</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isRegExp</string>
      <key>String</key>
      <string>isRegExp</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>object</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isDate</string>
      <key>String</key>
      <string>isDate</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>object</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isError</string>
      <key>String</key>
      <string>isError</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>object</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>pump</string>
      <key>String</key>
      <string>pump</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>readableStream</string>
        <string>writableStream</string>
        <string>[callback]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>inherits</string>
      <key>String</key>
      <string>inherits</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>constructor</string>
        <string>superConstructor</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createServer</string>
      <key>String</key>
      <string>createServer</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[options]</string>
        <string>[connectionListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>connect</string>
      <key>String</key>
      <string>connect</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>options</string>
        <string>[connectionListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createConnection</string>
      <key>String</key>
      <string>createConnection</string>
      <key>SelectionRange</key>
      <string>{17,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>options</string>
        <string>[connectionListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>connect</string>
      <key>String</key>
      <string>connect</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>port</string>
        <string>[host]</string>
        <string>[connectListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createConnection</string>
      <key>String</key>
      <string>createConnection</string>
      <key>SelectionRange</key>
      <string>{17,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>port</string>
        <string>[host]</string>
        <string>[connectListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>connect</string>
      <key>String</key>
      <string>connect</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[connectListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createConnection</string>
      <key>String</key>
      <string>createConnection</string>
      <key>SelectionRange</key>
      <string>{17,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>path</string>
        <string>[connectListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isIP</string>
      <key>String</key>
      <string>isIP</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>input</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isIPv4</string>
      <key>String</key>
      <string>isIPv4</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>input</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>isIPv6</string>
      <key>String</key>
      <string>isIPv6</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>input</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createServer</string>
      <key>String</key>
      <string>createServer</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[requestListener]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>createClient</string>
      <key>String</key>
      <string>createClient</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>[port]</string>
        <string>[host]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>request</string>
      <key>String</key>
      <string>request</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>options</string>
        <string>[callback]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>get</string>
      <key>String</key>
      <string>get</string>
      <key>SelectionRange</key>
      <string>{4,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>options</string>
        <string>[callback]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>tmpdir</string>
      <key>String</key>
      <string>tmpdir</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>endianness</string>
      <key>String</key>
      <string>endianness</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>hostname</string>
      <key>String</key>
      <string>hostname</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>type</string>
      <key>String</key>
      <string>type</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>platform</string>
      <key>String</key>
      <string>platform</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>arch</string>
      <key>String</key>
      <string>arch</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>release</string>
      <key>String</key>
      <string>release</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>uptime</string>
      <key>String</key>
      <string>uptime</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>loadavg</string>
      <key>String</key>
      <string>loadavg</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>totalmem</string>
      <key>String</key>
      <string>totalmem</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>freemem</string>
      <key>String</key>
      <string>freemem</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>cpus</string>
      <key>String</key>
      <string>cpus</string>
      <key>SelectionRange</key>
      <string>{5,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>networkInterfaces</string>
      <key>String</key>
      <string>networkInterfaces</string>
      <key>SelectionRange</key>
      <string>{18,0}</string>
      <key>PostString</key>
      <string>()</string>
    </dict>
    <dict>
      <key>ID</key>
      <string>lookup</string>
      <key>String</key>
      <string>lookup</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>[family]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolve</string>
      <key>String</key>
      <string>resolve</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>[rrtype]</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolve4</string>
      <key>String</key>
      <string>resolve4</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolve6</string>
      <key>String</key>
      <string>resolve6</string>
      <key>SelectionRange</key>
      <string>{9,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolveMx</string>
      <key>String</key>
      <string>resolveMx</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolveTxt</string>
      <key>String</key>
      <string>resolveTxt</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolveSrv</string>
      <key>String</key>
      <string>resolveSrv</string>
      <key>SelectionRange</key>
      <string>{11,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolveNs</string>
      <key>String</key>
      <string>resolveNs</string>
      <key>SelectionRange</key>
      <string>{10,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolveCname</string>
      <key>String</key>
      <string>resolveCname</string>
      <key>SelectionRange</key>
      <string>{13,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>domain</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>reverse</string>
      <key>String</key>
      <string>reverse</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>ip</string>
        <string>callback</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>parse</string>
      <key>String</key>
      <string>parse</string>
      <key>SelectionRange</key>
      <string>{6,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>urlStr</string>
        <string>[parseQueryString]</string>
        <string>[slashesDenoteHost]</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>format</string>
      <key>String</key>
      <string>format</string>
      <key>SelectionRange</key>
      <string>{7,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>urlObj</string>
      </array>
    </dict>
    <dict>
      <key>ID</key>
      <string>resolve</string>
      <key>String</key>
      <string>resolve</string>
      <key>SelectionRange</key>
      <string>{8,0}</string>
      <key>PostString</key>
      <string>()</string>
      <key>Parameters</key>
      <array>
        <string>from</string>
        <string>to</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
